name: UI CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      
      - name: Setup pnpm
        uses: pnpm/action-setup@v4
        with:
          version: 10
      
      - name: Install dependencies
        run: pnpm install

      - name: Install Playwright
        run: pnpm dlx playwright install --with-deps
      
      - name: Lint
        run: pnpm run lint
      
      - name: Test (Vitest)
        run: pnpm run test

      - name: Test (Playwright)
        run: pnpm run test:e2e
        env:
          # NOTE: the values don't matter, as long as it can be formed into a real URL
          VITE_API_HOST: "http://localhost"
          VITE_API_PORT: "80"
          VITE_AI_AGENT_HOST: "http://localhost"
          VITE_AI_AGENT_PORT: "80"

      - uses: actions/upload-artifact@v4
        if: ${{ !cancelled() }}
        with:
          name: playwright-report
          path: playwright-report/
          retention-days: 30
      
      - name: Build
        run: pnpm run build
